# AI brain
google-generativeai==0.8.4          # Official library for Gemini models

# Agentic Workflow
langchain==0.3.23
langchain-community==0.3.21         # Extra tools for document processing  
langchain-google-genai==2.0.10      # Integration of Gemini with LangChain 

# Embeddings Generation
sentence-transformers==2.7.0        # Efficient library for generating text embeddings.

# Vector Database  
chromadb==1.0.3                     # Stores conversation history and memory

# Utils
python-dotenv==1.1.0                # Manage environment variables
pydantic==2.11.3                    # Data validation and settings management
